<h2>Log in</h2>

<%= form_with scope: :session, local: false, url: user_session_path, id: "new-session", data: { controller: "new-session", action: "ajax:success->new-session#create ajax:error->new-session#error" } do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
 
  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>
